/* CSS Reset */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
p {
  margin: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  transition: all 0.3s ease;
}
button {
  transition: all 0.3s ease;
}
input,
textarea,
select {
  box-sizing: border-box;
}

/* Custom Class UI */
.qty-control-btn {
  background: transparent;
  border: 1px solid #cccccc;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.TabWrap {
  border-bottom: 2px solid #fafafa;
}

.swal2-container {
  z-index: 9999 !important;
}